<!DOCTYPE html>
<html lang="en">
 
<head></head>
 
<body>
    <h1 class="text-center title-1"> Projetos salvos: </h1>
    <ul>
        <% docs.forEach((proj)=> { %>
            <b> Projeto  <%= proj.projectId %>: </b><br>
            <b> Nome:  </b><%= proj.name %> <br>
            <b>    Natureza:  </b> <%= proj.nature %> <br>
            <b>    Início:  </b><%= proj.begin %><b>  Fim:  </b><%= proj.end %> <br>

             <b>   Equipe:  </b><%= proj.team %> <br>
             <b>   Hard skills: </b> <%= proj.technologies %> <br>
             <b>   Soft skills: </b> <%= proj.softskills %> <br>
               

                <br> <br>
            <%})%>
    </ul>
</body>
 
</html>
},